.search-input {
  padding: 11px;
  border-radius: 2px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.search-button {
  background-color: #0e6f9f;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: #fff;
  padding: 10px 12px;
  margin-left: 12px;
  cursor: pointer;
}

.container-search {
  display: flex;
  padding: 20px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}