.container-nav {
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  display: flex;
  color: #000;


  font-style: bold;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}